

header{
  display:flex;
  align-items: center;
  font-size: 14px;
  font-family: Verdana;
  font-weight: bold;


}

nav{
 margin-left: 10px;
 flex-wrap: nowrap;
 padding:10px;
 margin: auto;
 word-spacing: 25px;

 }

.logo{
  display: flex;
  flex-grow: 1;
  align-items: center;
  color: MediumAquamarine;
  font-size: 14px;
  font-family: Verdana;
  font-weight: bold;

}
a, a:visited{
     color: black;
}
main{
  display: flex;
  /*border: solid;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;*/
  width: 1232px;
  margin: 0 auto 78px;
  padding-top: 116px;
  justify-content: space-between;
}
.story{
  justify-content: center;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;

}
  .large {
  width: 630px;

}
.cover{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  height: 300px;
  width: 100%;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-align: left;
}
.earth{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  height: 300px;
  width: 95%;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  align-content: center;
}
.orca{
  font-weight: bold;
  font-family: Georgia;
  font-size: 40px;
  color: black;
  padding: 5px;

}
.burger{
  font-weight: bold;
  font-family: Georgia;
  font-size: 25px;
  color: black;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
}
.research{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  height: 300px;
  width: 93%;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  align-items: center;
}
.column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;


  }
.medium{
  width: 300px;
  height: auto;

}
.fbi{
  font-weight: bold;
  font-family: Georgia;
  color: black;


}
.cats{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  height: 300px;
  width: 100%;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;

}

.small {
  width: 240px;
  height: 50%;
  align-items: center;

}
.news-bites{
  font-weight: bold;
  font-family: Georgia;
  font-size: 20px;
  color: black;


}
.cookie{
  height: auto;
  width: auto;
}
.articles{
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.large-left{
  flex-direction: space-between;
  /*justify-content: space-between;*/
}
.large-right{
  flex-direction: space-between;
  /*justify-content: space-between;*/
}
h2{
  font-weight: bold;
  font-size: 25px;
}
footer{
  justify-content: center;
  display: flex;
  background-color: MediumAquamarine;
  font-family: Verdana;
  align-items: center;
  flex-direction: column;
  margin: auto;
  /*font-size: 12px;
  margin: 300px;*/
  height: 300px;
  width: auto;

}
.footer nav{
  margin-left: 5px;
  flex-wrap: nowrap;
  padding-left:30px;
  /*margin: 30px 30px;*/
  border-left: solid 4px white;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  /*margin: 300px;
  */
}
h3{
 font-family: Georgia;
 font-size: 16px;
 font-weight: bold;
 color: white;
padding-right: 10px;
 /*justify-content: center;*/
 flex-wrap: nowrap
}
h4{
  align-items: center;
  font-weight: lighter;
  font-size: 12px;
}
/*.mytimes{
  align-items: center;
}*/
.bottom{
  display: flex;
  flex-direction: row;
  vertical-align: inherit;
  align-items: center;
  /*align-self: center;
}*/
h4 .bottom{
  flex-direction: column;
  align-items: center;
}
tr{
  border: solid 1px black;
  background-color: lime;
}
/*.cookielist nav{
  display: flex;
  flex-wrap:nowrap
  border-bottom: solid 1px black;
}*/
.story hgroup{
  align-items: center;
  background-color: lime;
}
