

header{
  display:flex;
  align-items: center;
  font-size: 14px;
  font-family: Verdana;
  font-weight: bold;

}

nav{
 margin-left: 10px;
 flex-wrap: nowrap;
 padding:10px;
 margin: auto;
 word-spacing: 25px
 }

.logo{
  display: flex;
  flex-grow: 1;
  align-items: center;
  color: MediumAquamarine;
  font-size: 14px;
  font-family: Verdana;
  font-weight: bold;
}
a, a:visited{
     color: black;
}
main{
  display: flex;
  /*border: solid;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;*/
  width: 1232px;
  margin: 0 auto 78px;
  padding-top: 116px;
  justify-content: space-between;
}
.story{
  justify-content: center;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;

}
  .large {
  width: 630px;

}
.cover{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  height: 300px;
  width: 100%;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-align: left;
}
.earth{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  height: 300px;
  width: 100%;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
 text-align: center;
}
/*.orca{
  font-weight: bold;
  font-family: Georgia;
  font-size: 40px;
  color: black;*/

}
.burger{
  font-weight: bold;
  font-family: Georgia;
  font-size: 25px;
  color: black;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 5px;
}
.research{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  height: 300px;
  width: 100%;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
 text-align: center;
}
.column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;


  }
.medium{
  width: 300px;
  height: auto;

}
.fbi{
  font-weight: bold;
  font-family: Georgia;
  color: black;

}
.cats{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  height: 300px;
  width: 100%;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;

}

.small {
  width: 240px;

}
.news-bites{
  font-weight: bold;
  font-family: Georgia;
  font-size: 20px;
  color: black;

}
.cookie{
  height: 225px;
  width: 100%;
}
.articles{
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.large-left{
  flex-direction: space-between;
  justify-content: space-between
}
.large-right{
  flex-direction: space-between;
  justify-content: space-between;
}
h2{
  font-weight: bold;
  font-size: 25px;
}
