body{
border: solid 2px black;
}


header{
  display:flex;
  align-items: center;
  font-size: 14px;
  font-family: Verdana;
  font-weight: bold;

}

nav{
 margin-left: 10px;
 flex-wrap: nowrap;
 padding:10px;
 margin: auto;
 word-spacing: 25px
 }

.logo{
  display: flex;
  flex-grow: 1;
  align-items: center;
  color: MediumAquamarine;
  font-size: 14px;
  font-family: Verdana;
  font-weight: bold;
}
a, a:visited{
     color: black;
}
.column.large {
  width: 630px;
  border: solid 1px black;
  display: inline-flex;
  flex-direction:column;

}

.column.medium {
  width: 300px;
  border: solid 3px black;

}

.column.small {
  width: 240px;
}
p{
  border: solid 1px black;
}
main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 50px;


}
